<div class="header">
    <div class="top-head d-flex">
        <div class="logo">
            <img src="assets/images/logo_k12.png" alt="logo">
        </div>

        <div class="right-side">
            <div class="row">
                <div class="links">
                    <ul>
                        <div class="d-flex">
                            <li><a href="" class="active">Home</a></li>
                            <li class="text-white"> | </li>
                            <li><a href="">Student Requested Courses</a></li>
                        </div>
                    </ul>
                </div>
                <div class="profile-photo">
                    <img src="assets/images/1.jpg" alt="">
                    <div class="btn-holder">
                        <button>My Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="bottom-head">
    <div class="headings">
        <h2>LEARN ONLINE</h2>
        <p>
            <span class="ml-5"> Study any tpoic,anytime.Explore thousand of
                courses starting at $11.99 each</span>
        </p>
    </div>
</div>