@import "../../css/variables.scss";
@import "../../css/scrollbar.scss";
@import "../../css/mixins.scss";

.allcourses {
    margin: 30px;
    img {
        width: 100%;
        max-height: 160px;
        height: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .courses {
        .search {
            margin-top: 9px;
        }
        .searchIcon {
            cursor: pointer;
            font-size: 20px;
            line-height: 1;
        }
        .title {
            border-bottom: 5px solid $primary-color;
            margin-bottom: 15px;
            h3 {
                margin-bottom: 25px;
            }
        }
        .content {
            padding: 5px;
            background-color: $background-color;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            margin-bottom: 10px;
            ul,
            button {
                font-size: 14px;
            }

            .btn-success {
                background-color: $color-white;
                color: $primary-color;
                font-weight: bold;
                font-size: 12px;
                padding: 3px;
                border-color: $color-white;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                &:active,
                &:focus,
                &:hover {
                    box-shadow: none !important;
                    border-color: $primary-color !important;
                    background-color: $primary-color !important;
                    color: $color-white !important;
                    transition: 1s all ease-in-out;
                    -webkit-transition: 1s all ease-in-out;
                    -moz-transition: 1s all ease-in-out;
                    -ms-transition: 1s all ease-in-out;
                    -o-transition: 1s all ease-in-out;
                }

                &:disabled {
                    background-color: $primary-color;
                    color: $color-white;
                }
            }
        }
    }

    .filter {
        p {
            margin-bottom: 0 !important;
        }
        .content .title,
        div {
            background-color: $background-color;
            padding: 10px;
        }
        .content {
            border-bottom: 2px solid $color-gray;
            border-radius: 10px;
            -webkit-border-radius: 10;
            -moz-border-radius: 10;
            -ms-border-radius: 10;
            -o-border-radius: 10;
        }
        .main {
            border-radius: 10px;
            .lastContent {
                border-bottom: 0;
            }
        }
    }
    label {
        color: $color-gray;
        white-space: pre;
    }
    .todoList {
        background-color: $background-color;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        margin-top: 10px;
        height: 250px;
        overflow: auto;
        padding: 15px;
        h5 {
            color: $color-white;
            padding: 5px 5px 0 5px;
        }
        p {
            color: $primary-color;
            padding: 10px;
            margin-bottom: -10px;
            text-align: left;
            font-weight: 600;
            font-size: 13px;
            padding-left: 0;
        }
        .list {
            border-bottom: 1px solid $color-gray;
            &:last-child {
                border: 0;
            }
            .time {
                p {
                    color: $color-gray;
                }
                span {
                    line-height: 3;
                }
            }
        }
        label {
            color: #ccc;
            white-space: pre-wrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            max-height: 70px;
        }
    }

    .updates {
        @extend .todoList;
        .content {
            border-bottom: 1px solid $color-gray;
            &:last-child {
                border: 0;
            }
        }
        img {
            width: 40px;
            height: 40px;
            margin: 5px 15px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
        p {
            color: $color-gray;
            font-size: 10px;
            /*
            To truncate after two lines ..
            */
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            max-height: 40px;
        }
    }
}

.alert {
    font-family: auto;
    font-size: 17px;
    position: fixed;
    right: 5px;
    top: 5px;
    z-index: 1;
    padding: 7px;
    white-space: pre-line;
    width: 400px;
}
