<div class="alert alert-success" role="alert" *ngIf="showAlert">
    {{CourseName}} is added successfully to your cart
</div>
<div class="row my-3 allcourses">


    <div class="filter col-md-2">
        <div class="main">
            <div class="title">
                <h4>Filter BY:</h4>
            </div>
            <div class="col-md-12" *ngFor="let item of filters;let i = index">
                <p #category>{{item.filterCategory}}</p>
                <div class="content" [ngClass]="i === 2 ? 'lastContent': 'content'">
                    <label nz-checkbox [ngModel]="checked"
                        (ngModelChange)="getFilterValue($event,name,category.innerText)"
                        *ngFor="let name of item.names">
                        {{name}}
                    </label>
                </div>
            </div>
        </div>

    </div>

    <div class=" courses col-md-8">

        <div class="row" style="justify-content: space-between;padding: 0 22px;">
            <div class="title">
                <h3>All Courses</h3>
            </div>
            <div class="search">
                <nz-input-group [nzAddOnBefore]="suffixIconSearch">
                    <input type="text" nz-input placeholder="Search By course name" (change)="onSearchChange()"
                        [(ngModel)]="searchValue" />
                    <ng-template #suffixIconSearch>
                        <i nz-icon nzType="search" (click)="onSearchChange()" class="searchIcon"></i>
                    </ng-template>
                </nz-input-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" *ngFor="let course of displayData; let i=index">
                <div class="img-holder">
                    <img [src]="course.CourseImg" alt="course image">
                </div>
                <div class="content">
                    <div class="title2">
                        <p>{{course.CourseName}}</p>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="d-flex" style="margin-right: 15px;">
                                <ul style="margin-right: 15px;">
                                    <li> {{course.courseLevel}}</li>
                                    <li> Duration : {{course.CourseDuration}}H</li>
                                </ul>
                                <ul>
                                    <li>
                                        <span>
                                            <i nz-icon nzType="usergroup-add" nzTheme="outline"
                                                [ngClass]="course.AvailableSeats < 10 ? 'text-danger': 'text-success'"></i>
                                        </span>
                                        <span>
                                            {{course.AvailableSeats}}
                                        </span>
                                    </li>
                                    <li>
                                        {{course.CoursePrice | currency}}
                                    </li>
                                </ul>


                            </div>
                        </div>
                        <!-- disabled this button if AvailableSeats = 0 or u already just added ..  -->
                        <div class="col-md-4 mt-3">
                            <button class="btn btn-success" (click)="addCourse(course)"
                                [disabled]="CourseId.includes(course.CourseId) || course.AvailableSeats == 0">{{CourseId.includes(course.CourseId)
                                ?
                                cartText :
                                'Add to cart'}}</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- <app-empty></app-empty> -->

    </div>



    <div class="rightside col-md-2">
        <div class="todoList">
            <div class="d-flex" style="justify-content: space-between;">
                <h5>TodoList</h5>
                <i nz-icon nzType="calendar" nzTheme="outline" class="mt-2"></i>
            </div>
            <nz-carousel [nzDotPosition]="'top'" nzAutoPlay>
                <div nz-carousel-content *ngFor="let index of [1,2,3,4,5]">
                    <p class="mt-3">{{today | date:'fullDate'}}</p>
                    <div class="list" *ngFor="let i of [1,2,3,4,5,6,7,8]">
                        <div class="row">

                            <div class="col-md-3 time">
                                <div class="d-flex">
                                    <p>
                                        9am-10am
                                    </p>
                                    <span class="mt-1">|</span>
                                </div>
                            </div>
                            <div class="col-md-8 mt-3 ml-2">
                                <label nz-checkbox [(ngModel)]="todoListCheck">
                                    <!--- del tag used to line throgh text Semantic HTML-->
                                    <del>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis cum laboriosam
                                        culpa
                                        error repudiandae illum provident sed repellat maxime! Illum
                                        perspiciatis aperiam, maiores sint nostrum minima! Amet reiciendis a magnam?
                                    </del>
                                </label>



                            </div>
                        </div>

                    </div>
                </div>
            </nz-carousel>
        </div>

        <div class="updates">
            <h5>Recent Updates</h5>
            <div class="content" *ngFor="let i of [1,2,3,4,5,6,7,8]">
                <div class="row">
                    <div class="d-flex">
                        <div class="img-holder">
                            <img src="assets/images/1.jpg" alt="photo">
                        </div>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>